
body {
	background: linear-gradient(to right, #237b9c , #b410a4);
}

.div-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;

}

.div-title h1{
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 12px;
	margin-top: 0px;
	margin-bottom: 20px;
}



.div-title-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#p-codigo {
	font-size: 25px;
	margin: 20px;
}

@media screen and (min-width: 480px) {
  .div-button input {
    width: 150px;
    height: 60px;
  }

  #p-codigo {
	font-size: 40px;
	}
}